HGR.xcodeproj/xcuserdata
hgrtest.lst
HGR.xcodeproj/project.xcworkspace/xcuserdata/qd.xcuserdatad/UserInterfaceState.xcuserstate
/.DS_Store
/hisprite.lst
/HiSprite.xcodeproj/project.xcworkspace/xcuserdata/qd.xcuserdatad/UserInterfaceState.xcuserstate
/HiSprite.xcodeproj/xcuserdata/qd.xcuserdatad/xcdebugger
/DataDrawCycleCounts.txt
